In [1]:
import pandas as pd
from IPython.display import display
import seaborn as sns

In [2]:
solar_data = pd.read_csv('data/solarpower.csv')
solar_data.head()

         date  cum_power
0  2017-01-01    20111.0
1  2017-01-02    20112.0
2  2017-01-03    20115.0
3  2017-01-04    20117.0
4  2017-01-05    20119.0

In [3]:
solar_data[solar_data['cum_power'] == -1]

           date  cum_power
45   2017-02-15       -1.0
647  2018-10-10       -1.0

In [4]:
solar_data['cum_power'].mean()

23775.573795180724

In [5]:
for i in range(len(solar_data['cum_power'])): #столбцы
    value = solar_data['cum_power'][i] 
    if value == -1:
        solar_data['cum_power'][i] = (solar_data['cum_power'][i+1] + solar_data['cum_power'][i-1])/2


solar_data['cum_power'].mean()

C:\Users\79265\AppData\Local\Temp\ipykernel_5448\1951242504.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  solar_data['cum_power'][i] = (solar_data['cum_power'][i+1] + solar_data['cum_power'][i-1])/2

23848.246987951807

In [6]:
solar_data[solar_data['cum_power'] == -1].shape[0]

0

In [7]:
products = {
    'a' : 100,
    'b' : 200,
    'c' : 50,
    'd' : 150,
    'e' : 500
}

stocks = {
    'a' : '30%',
    'b' : '15%',
    'c' : '50%',

}

# for key in products:
#     if key in stocks:
#         print(key, products[key], stocks[key])
#     else:
#         print(key, products[key])

def get_new_dict(dict1, dict2):
    
    discount_dict = {}

    for key in dict1:
        if key in dict2:
            discount = float(dict2[key][:-1])/100
            discount_dict[key] = dict1[key] * (1 - discount)
        else:
            discount_dict[key] = dict1[key]
    
    return discount_dict

print(get_new_dict(products, stocks))

{'a': 70.0, 'b': 170.0, 'c': 25.0, 'd': 150, 'e': 500}

In [9]:
a = [1, 2, 3]
b = a
c = [1, 2, 3]
print(a==b, a==c, a is b, a is c)

True True True False