In [1]:
import pandas as pd

In [2]:
data = pd.DataFrame([[0,1], [1, 0], [1, 1]], columns=['А', 'B'])
display(data)

   А  B
0  0  1
1  1  0
2  1  1

In [4]:
data.shape

(3, 2)

In [3]:
melb_data = pd.read_csv('data/melb_data.csv', sep=',')
melb_data['Type'].value_counts(normalize=True)

h    0.695803
u    0.222165
t    0.082032
Name: Type, dtype: float64

In [4]:
melb_data['Propertycount'].max()

21650.0

In [6]:
round(melb_data['Distance'].std())

6

In [7]:
BuildingArea_median = melb_data['BuildingArea'].median() 
BuildingArea_mean =  melb_data['BuildingArea'].mean()
print(BuildingArea_median, BuildingArea_mean, sep = '\n')
round(abs(BuildingArea_median - BuildingArea_mean)/BuildingArea_mean * 100)

126.0
139.63397229013256

10

In [10]:
melb_data['Bedroom'].mode()

0    3.0
Name: Bedroom, dtype: float64

In [13]:
melb_data[melb_data['Bathroom'] == 0].shape[0]

34

In [14]:
melb_data[(melb_data['SellerG'] == 'Nelson') & (melb_data['Price'] > 3000000)].shape[0]

5

In [15]:
melb_data[melb_data['BuildingArea'] == 0]['Price'].min()

412500.0

In [17]:

mean_price = melb_data[((melb_data['Rooms'] > 5) | (melb_data['YearBuilt'] > 2015)) & (melb_data['Price'] < 1000000)]['Price'].mean()
round(mean_price)

769239

In [6]:
mask1 = melb_data['Rooms'] > 5
mask2 = melb_data['YearBuilt'] > 2015
mask3 = melb_data['Price'] < 1000000
mean_price = melb_data[(mask1 | mask2) & mask3]['Price'].mean()
round(mean_price)

769239

In [19]:
melb_data[(melb_data['Type'] == 'h') & (melb_data['Price'] < 3000000)]['Regionname'].mode()

0    Northern Metropolitan
Name: Regionname, dtype: object

In [3]:
student_data = pd.read_csv('data/students_performance.csv', sep=',')

In [7]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [8]:
student_data.shape[0]

1000

In [11]:
student_data.iloc[155]

gender                               female
race/ethnicity                      group C
parental level of education    some college
lunch                              standard
test preparation course           completed
math score                               70
reading score                            89
writing score                            88
Name: 155, dtype: object

In [13]:
student_data.loc[155, 'writing score']

88

In [16]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [18]:
round(student_data['math score'].mean())

66

In [19]:
student_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

In [21]:
round(student_data[student_data['test preparation course'] == 'completed']['reading score'].mean())

74

In [22]:
student_data[student_data['math score'] == 0].shape[0]

1

In [10]:
round(student_data[student_data['lunch'] == 'standard']['math score'].mean())

70

In [9]:
round(student_data[student_data['lunch'] == 'free/reduced']['math score'].mean())

59

In [11]:
round(student_data['parental level of education'].value_counts(normalize=True) * 100)

some college          23.0
associate's degree    22.0
high school           20.0
some high school      18.0
bachelor's degree     12.0
master's degree        6.0
Name: parental level of education, dtype: float64

In [17]:
writing_score_A = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
writing_score_C = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()
print(writing_score_A, writing_score_C, sep='\n')
delta = abs(writing_score_A - writing_score_C) 
print(round(delta))

62.0
67.82758620689656
6