In [194]:
import pandas as pd

def delete_columns(df, col=[]):
    for column in col:
        if column not in df:
            return None
    return df.drop(col, axis=1)
    """
    Напишите функцию delete_columns(df, col=[]), которая удаляет столбцы из DataFrame и возвращает новую таблицу. 
    Если одного из указанных столбцов в таблице не существует, то функция должна возвращать None.
    """


if __name__ == '__main__':
    customer_df = pd.DataFrame({
        'number': [0, 1, 2, 3, 4],
        'cust_id': [128, 1201, 9832, 4392, 7472],
        'cust_age': [13, 21, 19, 21, 60],
        'cust_sale': [0, 0, 0.2, 0.15, 0.3],
        'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
        'cust_order': [1400, 14142, 900, 1240, 8430]
    })
    columns_for_delete= ['number', 'cust_age'] #выбранные вами столбцы
    new_df = delete_columns(customer_df, columns_for_delete)
    print(new_df)

   cust_id  cust_sale  cust_year_birth  cust_order
0      128       0.00             2008        1400
1     1201       0.00             2000       14142
2     9832       0.20             2002         900
3     4392       0.15             2000        1240
4     7472       0.30             1961        8430

In [195]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
countries_df['population_density'] = countries_df['population'] * 1000000 / countries_df['square']
round(countries_df['population_density'].mean(), 2)

84.93

In [196]:
from IPython.display import display

In [197]:
melb_data = pd.read_csv('data/melb_data_ps.csv', sep=',')
melb_df = melb_data.copy()
melb_df.head()

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,"-37.8072, 144.9941"

In [198]:
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)

In [199]:
melb_df['WeekdaySale'] = melb_df['Date'].dt.dayofweek
display(melb_df['WeekdaySale'])

0        5
1        3
2        5
3        5
4        5
        ..
13575    5
13576    5
13577    5
13578    5
13579    5
Name: WeekdaySale, Length: 13580, dtype: int64

In [200]:
melb_df['WeekdaySale'].value_counts()

5    11759
6     1063
0      597
1      133
3       28
Name: WeekdaySale, dtype: int64

In [201]:
weekend_count = melb_df[(melb_df['WeekdaySale'] == 5) | (melb_df['WeekdaySale'] == 6)].shape[0]
print(weekend_count)

12822

In [202]:
def get_weekend(weekday):
    if weekday == 5 or weekday == 6:
        return 1
    else:
        return 0

In [203]:
melb_df['Weekend'] = melb_df['WeekdaySale'].apply(get_weekend)
display(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  datetime64[ns]
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
 23  WeekdaySale    13580 non-null  int64
 24  Weekend        13580 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(10), object(8)
memory usage: 2.6+ MB

None

In [204]:
round(melb_df[melb_df['Weekend'] == 1]['Price'].mean())

1081199

In [205]:
print(melb_df['SellerG'].nunique())

268

In [206]:
popular_seller = melb_df['SellerG'].value_counts().nlargest(49).index
print(popular_seller)

Index(['Nelson', 'Jellis', 'hockingstuart', 'Barry', 'Ray', 'Marshall',
       'Buxton', 'Biggin', 'Brad', 'Fletchers', 'Woodards', 'Jas', 'Greg',
       'McGrath', 'Sweeney', 'Noel', 'Miles', 'RT', 'Gary', 'Harcourts',
       'Hodges', 'YPA', 'Stockdale', 'Village', 'Kay', 'Raine', 'Williams',
       'Love', 'Douglas', 'Chisholm', 'RW', 'Rendina', 'HAR', 'O'Brien', 'C21',
       'Collins', 'Cayzer', 'Eview', 'Purplebricks', 'Philip', 'Buckingham',
       'Bells', 'Thomson', 'Nick', 'Alexkarbon', 'McDonald', 'Burnham',
       'Moonee', 'LITTLE'],
      dtype='object')

In [207]:
melb_df['SellerG'] = melb_df['SellerG'].apply(lambda x: x if x in popular_seller else 'other')
print(melb_df['SellerG'].nunique())

50

In [208]:
price_Nelson = melb_df[melb_df['SellerG'] == 'Nelson']['Price'].min()
price_other = melb_df[melb_df['SellerG'] == 'other']['Price'].min()
print(price_Nelson, price_other, sep='\n')
print(round(price_Nelson / price_other, 1))

170000.0
131000.0
1.3

In [209]:
ufo_data = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv')
display(ufo_data)

URLError: <urlopen error [WinError 10061] Подключение не установлено, т.к. конечный компьютер отверг запрос на подключение>

In [ ]:
ufo_data['Time'] = pd.to_datetime(ufo_data['Time'], dayfirst=False)
display(ufo_data['Time'])

0       1930-06-01 22:00:00
1       1930-06-30 20:00:00
2       1931-02-15 14:00:00
3       1931-06-01 13:00:00
4       1933-04-18 19:00:00
                ...
18236   2000-12-31 23:00:00
18237   2000-12-31 23:00:00
18238   2000-12-31 23:45:00
18239   2000-12-31 23:45:00
18240   2000-12-31 23:59:00
Name: Time, Length: 18241, dtype: datetime64[ns]

In [ ]:
ufo_data['Time'].dt.year

0        1930
1        1930
2        1931
3        1931
4        1933
         ...
18236    2000
18237    2000
18238    2000
18239    2000
18240    2000
Name: Time, Length: 18241, dtype: int64

In [ ]:
ufo_data['Time'].dt.year.mode()[0]

1999

In [ ]:
ufo_data['Date'] = ufo_data['Time'].dt.date
ufo_data[ufo_data['State'] == 'NV']['Date']

76       1947-07-15
172      1952-02-17
565      1959-09-15
566      1959-09-15
613      1960-07-01
            ...
17447    2000-09-16
17567    2000-09-30
17617    2000-10-06
17890    2000-11-07
18104    2000-12-10
Name: Date, Length: 284, dtype: object

In [ ]:
difference = ufo_data[ufo_data['State'] == 'NV']['Date'].diff()
display(difference)

76            NaT
172     1678 days
565     2767 days
566        0 days
613      290 days
           ...
17447     22 days
17567     14 days
17617      6 days
17890     32 days
18104     33 days
Name: Date, Length: 284, dtype: timedelta64[ns]

In [ ]:
difference.dt.days

76          NaN
172      1678.0
565      2767.0
566         0.0
613       290.0
          ...
17447      22.0
17567      14.0
17617       6.0
17890      32.0
18104      33.0
Name: Date, Length: 284, dtype: float64

In [ ]:
round(difference.dt.days.mean())

69

In [ ]:
import pandas as pd

def get_experience(arg):
    string = arg.split()
    if len(string) > 4:
        return int(string[2])* 12 + int(string[4])
    else:
        if string[3] == 'лет' or string[3] == 'года':
            return int(string[2]) * 12
        else:
            return int(string[2])
    """
    Напишите функцию get_experience(arg), аргументом которой является строка столбца с опытом работы. 
    Функция должна возвращать опыт работы в месяцах. Не забудьте привести результат к целому числу.
    """
    pass

if __name__ == '__main__':
    experience_col = pd.Series([
        'Опыт работы 8 лет 3 месяца',
        'Опыт работы 3 года 5 месяцев',
        'Опыт работы 1 год 9 месяцев',
        'Опыт работы 3 месяца',
        'Опыт работы 6 лет'
        ])
    experience_month = experience_col.apply(get_experience)
    print(experience_month)

0    99
1    41
2    21
3     3
4    72
dtype: int64

In [ ]:
def get_experience(arg):
    month_list = ['месяц', 'месяца', 'месяцев']
    year_list = ['год', 'лет']
    string = arg.split()
    montn, year = 0, 0
    for i in range(len(string)):
        if string[i] in month_list:
            month = string[i-1]
        if string[i] in year_list:
            year = string[i-1]
    return int(year)*12 + int(month)

In [ ]:
melb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  datetime64[ns]
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
 23  WeekdaySale    13580 non-null  int64
 24  Weekend        13580 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(10), object(8)
memory usage: 2.6+ MB

In [ ]:
melb_df['Suburb'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 13580 entries, 0 to 13579
Series name: Suburb
Non-Null Count  Dtype
--------------  -----
13580 non-null  object
dtypes: object(1)
memory usage: 106.2+ KB

In [ ]:
melb_df['Suburb'].value_counts()

Reservoir         359
Richmond          260
Bentleigh East    249
Preston           239
Brunswick         222
                 ...
Sandhurst           1
Bullengarook        1
Croydon South       1
Montrose            1
Monbulk             1
Name: Suburb, Length: 314, dtype: int64

In [ ]:
melb_df['Suburb'].nunique()

314

In [ ]:
popular_suburb = melb_df['Suburb'].value_counts().nlargest(119).index
print(popular_seller)

Index(['Nelson', 'Jellis', 'hockingstuart', 'Barry', 'Ray', 'Marshall',
       'Buxton', 'Biggin', 'Brad', 'Fletchers', 'Woodards', 'Jas', 'Greg',
       'McGrath', 'Sweeney', 'Noel', 'Miles', 'RT', 'Gary', 'Harcourts',
       'Hodges', 'YPA', 'Stockdale', 'Village', 'Kay', 'Raine', 'Williams',
       'Love', 'Douglas', 'Chisholm', 'RW', 'Rendina', 'HAR', 'O'Brien', 'C21',
       'Collins', 'Cayzer', 'Eview', 'Purplebricks', 'Philip', 'Buckingham',
       'Bells', 'Thomson', 'Nick', 'Alexkarbon', 'McDonald', 'Burnham',
       'Moonee', 'LITTLE'],
      dtype='object')

In [ ]:
melb_df['Suburb'] = melb_df['Suburb'].apply(lambda x: x if x in popular_suburb else 'other')
print(melb_df['Suburb'].nunique())

120

In [ ]:
melb_df['Suburb'] = melb_df['Suburb'].astype('category')
display(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  category
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  datetime64[ns]
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
 23  WeekdaySale    13580 non-null  int64
 24  Weekend        13580 non-null  int64
dtypes: category(1), datetime64[ns](1), float64(6), int64(10), object(7)
memory usage: 2.5+ MB

None

In [ ]:
bike_data = pd.read_csv('data/citibike-tripdata.csv', sep=',')
display(bike_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

None

In [ ]:
bike_data['start station id'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 300000 entries, 0 to 299999
Series name: start station id
Non-Null Count   Dtype
--------------   -----
299831 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB

In [ ]:
bike_data['start station id'].mode()

0    281.0
Name: start station id, dtype: float64

In [ ]:
bike_data['start station id'].mode().astype('int64')

0    281
Name: start station id, dtype: int64

In [ ]:
bike_data['start station id'].mode()[0]

281.0

In [ ]:
bike_data['bikeid'].mode()[0]

33887

In [ ]:
round(bike_data['usertype'].value_counts(normalize=True), 2)

Subscriber    0.77
Customer      0.23
Name: usertype, dtype: float64

In [ ]:
mode_usertype = bike_data['usertype'].mode()[0]
count_mode_user = bike_data[bike_data['usertype'] == mode_usertype].shape[0]
print(round(count_mode_user / bike_data.shape[0], 2))

0.77

In [ ]:
print(mode_usertype, count_mode_user, bike_data.shape[0], sep='\n')

Subscriber
232202
300000

In [ ]:
bike_data['gender'].value_counts()

1    183582
2     74506
0     41912
Name: gender, dtype: int64

In [ ]:
male_count = bike_data[bike_data['gender'] == 1].shape[0]
female_count = bike_data[bike_data['gender'] == 0].shape[0]
print(male_count, female_count, max([male_count, female_count]), sep='\n')

183582
41912
183582

In [ ]:
bike_data['start station id'].nunique()

759

In [ ]:
bike_data['end station id'].nunique()

765

In [ ]:
print(bike_data['start station id'].nunique() == bike_data['end station id'].nunique())

False

In [ ]:
bike_data['birth year'].max()

2002

In [ ]:
data = bike_data.copy()
data['starttime'] = pd.to_datetime(data['starttime'])
display(data['starttime'].dt.year)

0         2018
1         2018
2         2018
3         2018
4         2018
          ...
299995    2018
299996    2018
299997    2018
299998    2018
299999    2018
Name: starttime, Length: 300000, dtype: int64

In [ ]:
print((data['starttime'].dt.year.mode()[0] - data['birth year'].max()) == 10)

False

In [ ]:
bike_data['start station name'].value_counts()

Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: start station name, Length: 759, dtype: int64

In [ ]:
bike_data['end station name'].value_counts()

West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
Liberty Light Rail                1
Name: end station name, Length: 765, dtype: int64

In [ ]:
data.shape

(300000, 14)

In [ ]:
data = data.drop(['start station id', 'end station id'], axis=1)

In [ ]:
data.shape

(300000, 12)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  datetime64[ns]
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(4)
memory usage: 27.5+ MB

In [ ]:
data['age'] = data['starttime'].dt.year.mode()[0] - data['birth year']
data.drop('birth year', axis=1, inplace=True)
display(data['age'])

0         38
1         49
2         43
3         34
4         24
          ..
299995    28
299996    36
299997    27
299998    43
299999    52
Name: age, Length: 300000, dtype: int64

In [ ]:
data[data['age'] > 60].shape[0]

11837

In [ ]:
data.columns

Index(['starttime', 'stoptime', 'start station name', 'start station latitude',
       'start station longitude', 'end station name', 'end station latitude',
       'end station longitude', 'bikeid', 'usertype', 'gender', 'age'],
      dtype='object')

In [ ]:
data['trip duration'] = pd.to_datetime(data['stoptime']) - data['starttime']
display(data['trip duration'].dt.seconds)

0         1635
1          132
2         3337
3          436
4         8457
          ...
299995     443
299996     693
299997     312
299998    3360
299999     225
Name: trip duration, Length: 300000, dtype: int64

In [ ]:
data['trip duration'].mean().seconds

1126

In [ ]:
data['WeekdayTrip'] = data['starttime'].dt.dayofweek
display(data['WeekdayTrip'])

0         5
1         5
2         5
3         5
4         5
         ..
299995    2
299996    2
299997    2
299998    2
299999    2
Name: WeekdayTrip, Length: 300000, dtype: int64

In [ ]:
data['WeekdayTrip'].value_counts()

1    68628
2    61185
6    60812
0    55052
5    54323
Name: WeekdayTrip, dtype: int64

In [ ]:
def get_weekend(weekday):
    if weekday == 5 or weekday == 6:
        return 1
    else:
        return 0

In [ ]:
data['Weekend'] = data['WeekdayTrip'].apply(get_weekend)
display(data['Weekend'])

0         1
1         1
2         1
3         1
4         1
         ..
299995    0
299996    0
299997    0
299998    0
299999    0
Name: Weekend, Length: 300000, dtype: int64

In [ ]:
weekendtrip_count = data[(data['WeekdayTrip'] == 5) | (data['WeekdayTrip'] == 6)].shape[0]
print(weekendtrip_count)

115135

In [ ]:
weekendtrip_count2 = data[data['Weekend'] == 1].shape[0]
print(weekendtrip_count2)

115135

In [ ]:
WeekdayTrip = data['starttime'].dt.dayofweek
data['weekend2'] = WeekdayTrip.apply(get_weekend)
data['weekend2'].sum()

115135

In [ ]:
data.columns

Index(['starttime', 'stoptime', 'start station name', 'start station latitude',
       'start station longitude', 'end station name', 'end station latitude',
       'end station longitude', 'bikeid', 'usertype', 'gender', 'age',
       'trip duration', 'WeekdayTrip', 'Weekend', 'weekend2'],
      dtype='object')

In [ ]:
time = data['starttime'].dt.hour
display(time)

0          0
1          0
2          0
3          0
4          0
          ..
299995    19
299996    19
299997    19
299998    19
299999    19
Name: starttime, Length: 300000, dtype: int64

In [ ]:
def get_time(x):
    if 0 <= x <= 6:
        return 'night'
    elif 6 < x <= 12:
        return 'morning'
    elif 12 < x <= 18:
        return 'day'
    elif 18 < x <= 23:
        return 'evening'
    else:
        return 'else'

In [ ]:
data['time_of_day'] = time.apply(get_time)
display(data['time_of_day'])

0           night
1           night
2           night
3           night
4           night
           ...
299995    evening
299996    evening
299997    evening
299998    evening
299999    evening
Name: time_of_day, Length: 300000, dtype: object

In [ ]:
data['time_of_day'].value_counts()

day        143012
morning     95530
evening     46373
night       15085
Name: time_of_day, dtype: int64

In [ ]:
day_trip = data[data['time_of_day'] == 'day'].shape[0]
night_trip = data[data['time_of_day'] == 'night'].shape[0]
print(round(day_trip / night_trip))

9

In [ ]:
bike = pd.read_csv('data/citibike-tripdata.csv')
bike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [ ]:
int(bike['start station id'].mode()[0])

281

In [ ]:
bike['bikeid'].mode()[0]

33887

In [ ]:
round(bike['usertype'].value_counts(normalize=True),2)

Subscriber    0.77
Customer      0.23
Name: usertype, dtype: float64

In [ ]:
mode_usertype = bike['usertype'].mode()[0]
count_mode_user = bike[bike['usertype'] == mode_usertype].shape[0]
print(round(count_mode_user / bike.shape[0], 2))

0.77

In [ ]:
bike['gender'].value_counts()

1    183582
2     74506
0     41912
Name: gender, dtype: int64

In [ ]:
mode_gender = bike['gender'].mode()[0]
bike[bike['gender'] == mode_gender].shape[0]

183582

In [ ]:
bike['start station id'].nunique() == bike['end station id'].nunique()

False

In [ ]:
bike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [ ]:
bike['starttime'] = pd.to_datetime(bike['starttime'])
bike['stoptime'] = pd.to_datetime(bike['stoptime'])
bike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  datetime64[ns]
 1   stoptime                 300000 non-null  datetime64[ns]
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: datetime64[ns](2), float64(6), int64(3), object(3)
memory usage: 32.0+ MB

In [ ]:
bike['stoptime'].dt.year.mode()[0] - bike['birth year'].max() == 10

False

In [ ]:
bike['start station name'].value_counts()

Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: start station name, Length: 759, dtype: int64

In [ ]:
bike['end station name'].mode()[0]

'West St & Chambers St'

In [ ]:
bike = bike.drop(['start station id', 'end station id'], axis=1)

In [210]:
bike['age'] = 2018 - bike['birth year']
bike = bike.drop(['birth year'], axis=1)
bike[bike['age'] == 60].shape[0]

2004

In [211]:
bike[bike['age'] > 60].shape[0]

11837

In [213]:
bike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  gender                   300000 non-null  int64
 13  age                      300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [229]:
bike['stoptime'] = pd.to_datetime(bike['stoptime'])
bike['starttime'] = pd.to_datetime(bike['starttime'])
bike['trip duration'] = bike['stoptime'] - bike['starttime']

In [259]:
round(bike.loc[3, 'trip duration'].seconds/60)

7

In [238]:
weekday = bike['starttime'].dt.dayofweek
bike['weekend'] = weekday.apply(lambda x: 1 if x == 5 or x == 6 else 0)

bike['weekend'].value_counts().iloc[1]

115135

In [239]:
bike['weekend'].sum()

115135

In [245]:
time = bike['starttime'].dt.hour

def get_time(time):
    if 0 <= time <= 6:
        return 'night'
    elif 6 < time <= 12:
        return 'morning'
    elif 12 < time <= 18:
        return 'day'
    elif 18 < time <= 23:
        return 'evening'
    else:
        return 'else'
    
bike['time_of_day'] = time.apply(get_time)
bike['time_of_day'].value_counts()

day        143012
morning     95530
evening     46373
night       15085
Name: time_of_day, dtype: int64

In [254]:
round(bike[bike['time_of_day'] == 'day'].shape[0] / bike[bike['time_of_day'] == 'night'].shape[0])

9